*.mov
output
from_seanie
*.html
.Rhistory
assets/queries.pintail_flagged.txt
lib/*.o
lib/*.so
lib/*.dSYM
lib/de_dist
lib/percentiles
assets/database_DE_dist_percentiles.txt
assets/database_DE_dist.txt
assets/10000_proteobacteria_window_100_step_10/*.gz
